* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#cayiImage {
  margin-bottom: 20px;
  width: 300px; /* Puedes ajustar el tamaño */
  border-radius: 15px; /* Para darle bordes redondeados */
}

.options {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.option {
  padding: 20px 40px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, font-size 0.3s ease;
}

#yes {
  background-color: green;
}

#no {
  background-color: red;
}

#message {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #333;
}

#imageContainer {
  margin-top: 20px;
}

.option:hover {
  transform: scale(1.1);
}
